// Container CSS
.RQ-container{
    margin:0px auto;
    max-width:800px;
    text-align:center;
    margin-top:25px;
}

// Table CSS
table{
        border-collapse:collapse;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 120px;
    text-align: center;
}

//RQ Form CSS
.rate-form-form{
    border : 1px solid;
    box-shadow: 3px 6px #c5c5c5;
    display:inline-block;
    text-align:right;
    margin-bottom:30px;
    margin-top:30px;
}


.rate-form-form .submit-button{
    border:none;
    background-color:black;
    color:white;
    padding:10px;
    margin:15px;
}

.rate-form-form label{
    padding-right:15px;
}


.rate-form-form select,input{
    width:150px;
}

.form-bar{
    margin:15px;
    min-width:220px;
}

.form-box{
    width:350px;
    display:inline-block;
}

// Loader/Error items in RQForm CSS

.loader-container{
    display:inline-block;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display:inline-block;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


// Responsive CSS 
@media only screen and (max-width: 720px) {
    .rate-form-form{
        display:inline-block;
        width:350px;
    }

    .hideable{
        display:none;
    }
}
